body {
  background-color: hsl(212, 45%, 89%);
}
.main-container {
  border-style: hidden;

  width: 400px;
  height: 600px;
  text-align: center;
  margin: 100px auto;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  -webkit-box-shadow: -2px -1px 15px 7px rgba(156, 155, 155, 0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(165, 165, 165, 0.425);
  box-shadow: -4px -3px 45px 21px rgba(179, 179, 179, 0.35);
}
.qr-img {
  width: 360px;
  margin: 20px 20px 15px 20px;
  border-radius: 20px;
}
h1 {
  font-family: "Outfit", sans-serif;
  margin: 15px auto 20px;
  font-size: 25px;
  width: 80%;
  font-weight: bold;
  color: hsl(218, 44%, 22%);
}
p {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  margin-top: 20px;
  width: 75%;
  margin: auto;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}
